.navList li{
    cursor: pointer;
    transition: ease-in-out 0.4s;
    font-size: 0.9rem;
}

.navList li:hover{
    opacity: 0.5;
    color: #5454D4;
    transform: scale(0.99);
}

.navSelected{
    opacity: 0.5;
    color: #5454D4;
    font-weight: bold;
    transform: scale(1.05);
}

.menu{
    display: none;
}
