@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --font-sans: var(--font-poppins);
  --color-primary: #009B77;
  --color-secondary: #EFC050;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins, Arial, Helvetica, sans-serif);
  scroll-behavior: smooth;
}

@keyframes fade {
  0%{
    opacity: 0.3;
    rotate: 0deg;
  }
  50%{
    opacity: 0.1;
  }
  100%{
    opacity: 0.3;
    rotate: 360deg;
  }
}

.anime-fade{
  animation: fade 20s infinite;
}

.hidden4phone{
  display: flex;
}
.hidden4pc{
  display: none;
}

/* Small phones */
@media (max-width: 480px) { 
    .hidden4phone{
      display: none;
    }
    .hidden4pc{
      display: flex;
    }
}

/* Most phones (standard) */
@media (max-width: 640px) { 
    .hidden4phone{
      display: none;
    }
    .hidden4pc{
      display: flex;
    }
}

/* Large phones / small tablets */
@media (max-width: 768px) { 
    .hidden4phone{
      display: none;
    }
    .hidden4pc{
      display: flex;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgba(128, 128, 128, 0.089);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 5px;
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
}